html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #c6ffc1;
    font-family: 'Quicksand', sans-serif;
}

.aos-init:not(.aos-animate):after {
    position: fixed;
    }

.navbar {
    z-index: 2;
    background-color: #34656d;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    font-size: large;
    
}
.navbar-brand {
    margin-left: 20px;
    margin-top: 5px;
}
.navbar li {
    font-size: 90%;
    align-items: center;
    margin-right: 10px;
    margin-left: 7px;
    padding: 0
}
.navbar .link-0 a:hover {
    color: #00B8E2 ;
    text-decoration: none;
}

.img-logo-navbar {
    width: 60px;
    height: auto;
}

.main-temp {
    padding: 20px;
    margin : auto;
    background-color: #34656d;
    border-radius:10px ;
    color: #fffbdf;
    box-shadow: 5px 5px 5px 0px black;
    width: fit-content;
}

.formula {
    box-shadow: 5px 5px 5px 0px black;
    background-color: #c6ffc1;
    color: black;
    padding: 2px;
}

.card-column {
    border:2px solid #fffbdf;
    background-color: #334443;
    padding: 10px;
    box-shadow: 5px 5px 5px 0px black;
    width: 310px;
}

input {
    width: 251px;
    height: 40px;
    box-shadow: 5px 5px 5px 0px black;
    border: 2px solid black;
}

footer {
    background-color:  #34656d ;
    padding: 20px;
    text-align: center;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    color: #c6ffc1;
}

/*MOBILE*/
@media screen and (max-width: 768px) {
    body, html {
        scroll-behavior: smooth;
        scroll-snap-type: none;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .main-temp {
        padding: 20px;
        margin : auto;
        background-color: #34656d;
        border-radius:10px ;
        color: #fffbdf;
        box-shadow: 5px 5px 5px 0px black;
        width: fit-content;
        display: block;
    } 
}
