html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #c6ffc1;
    font-family: 'Quicksand', sans-serif;
}

.aos-init:not(.aos-animate):after {
    position: fixed;
    }

.navbar {
    z-index: 2;
    background-color: #34656d;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    font-size: large;
}

.navbar-brand {
    margin-left: 20px;
    margin-top: 5px;
}
.navbar-brand:hover {
    color: #c6ffc1;
}
.navbar li {
    font-size: 90%;
    align-items: center;
    margin-right: 10px;
    margin-left: 7px;
    padding: 0;
}
.navbar .nav-link .link-0 a:hover {
    color: #fffbdf ;
    text-decoration: none;
}

.main-div {
    padding: 20px;
    margin : auto;
    background-color: #34656d;
    color: #fffbdf;
    box-shadow: 5px 5px 5px 0px black;
}

.main-div-2 {
    padding: 20px;
    margin : auto;
    background-color: #34656d;
    color: #fffbdf;
    box-shadow: 5px 5px 5px 0px black;
}

.formula {
    box-shadow: 5px 5px 5px 0px black;
    background-color: #c6ffc1;
    color: black;
    padding: 2px;
    width: 270px;
    margin: auto;
}

.card-column {
    border:2px solid #fffbdf;
    background-color: #334443;
    padding: 10px;
    box-shadow: 5px 5px 5px 0px black;
    width: 310px;
    margin: auto;
}

input {
    width: 251px;
    height: 40px;
    box-shadow: 5px 5px 5px 0px black;
    border: 2px solid black;
}

.button-style {
    border:2px solid #fffbdf;
    background-color: #334443;
    padding: 10px;
    width: 210px;
    color: #fffbdf;
    cursor: pointer;
    display: block;
}

a.button-nav {
    text-decoration: none;
    color: #fffbdf;
}

.button-style:hover {
    opacity: 0.8;
    box-shadow: 5px 5px 5px 0px black;
    color :#c6ffc1;
}

.attribution {
    color:#c6ffc1;
    text-decoration: none;
}

.attribution:hover {
    color:#fffbdf;
    text-decoration: none;
}

footer {
    background-color:  #34656d ;
    padding: 20px;
    text-align: center;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    color: #fffbdf;
}


@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
    .navbar .nav-item:hover .nav-link { 
        color: #c6ffc1; 
    }
    .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
    .navbar .dropdown-menu.fade-up{ top:180%;  }
    .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}


/*MOBILE*/
@media screen and (max-width: 768px) {
    body, html {
        scroll-behavior: smooth;
        scroll-snap-type: none;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .main-temp {
        padding: 20px;
        margin : auto;
        background-color: #34656d;
        border-radius:10px ;
        color: #fffbdf;
        box-shadow: 5px 5px 5px 0px black;
        width: fit-content;
        display: block;
    }
    
    .button-style {
        border:2px solid #fffbdf;
        background-color: #334443;
        padding: 10px;
        width: 210px;
        color: #fffbdf;
        cursor: pointer;
        display: block;
    }    
    .card-column {
        border:2px solid #fffbdf;
        background-color: #334443;
        padding: 10px;
        box-shadow: 5px 5px 5px 0px black;
        width: 310px;
        display: block;
        margin: auto;
    }
}
